li {
  list-style: none;
  font-size: larger;
}

#maincontent {
  display: flex;
  flex-direction: row;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  #maincontent {
    flex-direction: column; 
  }
  .container {
    display: grid;
  }
}