.container {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns:
    1fr;
  grid-template-areas:
    "head"
    "navv"
    "main"
    "foot";
}

p {
  text-align: left !important;
}

/* grid template definition */

@media screen and (max-width: 640px) {
  .container {
    grid-template-columns:
      1fr;
    grid-template-areas:
      "head"
      "para"
      "navv"
      "foot";
  }

  nav ul {
    flex-flow: column nowrap;
    text-align: center;
  }

  /* display nav as column */
  nav {
    max-height: none;
  }
}

/* mobile (phone) dimensions */